body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator-container {
  display: flex;
  gap: 20px; /* Adjust the gap between calculators as needed */
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 300px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #444;
  color: white;
  font-size: 2em; /* Adjust font size as needed */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons, .deltaButtons, .rootButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust column count if needed */
  gap: 10px;
  padding: 10px;
}

.rootButtons{
  gap: 20px !important; 
  margin-left: 30px;
}

.button, .deltaNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; /* Adjust font size as needed */
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.deltaNumbers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 35px;
}
.deltaNumber{
  width: 50px;
  height: 50px;
  text-align: center;
}

.button:hover, .deltaNumber:hover {
  background-color: #666;
}

.operator {
  background-color: #f39c12;
}

.operator:hover {
  background-color: #e67e22;
}

.input-number {
  width: 90%;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  margin-left: 5px;
}
.titles{
  color: white;
}