body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.calculator {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 400px;
  height: 600px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#help{
  margin-top: 600px;
}
.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #444;
  color: white;
  font-size: 3em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #666;
}

.operator {
  background-color: #f39c12;
}

.operator:hover {
  background-color: #e67e22;
}

//delta
#deltaCalculator{
  position: relative;
  top: 20px;
  width: 400px;
  height: 600px;
}
.deltaInputs{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
}
.deltaNumbers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: relative;
  height: 50px;
}
.deltaNumber{
  background-color: #555;
  outline: none;
  width: 60px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 2em;
}
.deltaButtons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}